# Backend Server Port
PORT=5000

# MongoDB Atlas Cloud Database (Shared Team Database)
MONGO_URI=mongodb+srv://tawsiyatc_db_user:9Xgca5GSwU40ddyW@cluster0.wpuryjm.mongodb.net/academic_tracker_db?retryWrites=true&w=majority&appName=Cluster0

# Alternative: Local MongoDB Community Server
# MONGO_URI=mongodb://127.0.0.1:27017/academic_tracker_db
